<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MakeChat</title>
  <script src="socket.io/socket.io.js"></script>
  <script src="/assets/js/scripts.js" async defer></script>
  <script src="/assets/js/stupid-jquery.js" async defer></script>
  <link rel="stylesheet" href="/assets/css/flexboxgrid.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  <form class="usernameForm">
    <input id="usernameInput" placeholder="Username"></input>
    <button id="createUserBtn">Join Chat</button>
  </form>

  <div class="mainContainer">
    <div class="channelsAndUsersOnlineContainer">
      <h1 class="brand">Make Chat</h1>
      <div class="channels">
          <h2 class="channelsLabel">Channels</h2>
          <div class="newChannelForm"><input id="newChannelInput" placeholder="New Channel" /><button id="newChannelBtn" onclick="createChannel();">Create</button></div>
          <div class="channel-current">General</div>
      </div>
      <h2>Online Users</h2>
      <div class="usersOnline"></div>
    </div>
    <div class="chatContainer">
      <div class="chatContainerFluid">
        <div class="messageContainer">
            <h2>Messages</h2>
        </div>
        <div class="textChatDivide"></div>
        <div class="chatBox"><textarea id="chatInput" placeholder="Type a message"></textarea><button class="btn" id="sendChatBtn">Send</button></div>
      </div>
    </div>
  </div>
</body>
</html>